# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# IDE Configuration
.idea

# compiled components & output
target/*
!target/pascal-to-jvm-compiler-jar-with-dependencies.jar
!target/pascal-to-jvm-compiler.jar
out

src/test/resources/driver/testPascalCompilerDriver/testCheck/testCheckWithError/*.err

src/test/resources/bsi_tests/
src/test/resources/gpcTest/
src/test/resources/PAT/
src/test/*.class

